[submodule "Assets/Scripts/Tools/ObjectPool"]
	path = Assets/Scripts/Tools/ObjectPool
	url = https://github.com/vloot/unity-submodule-object-pool
[submodule "Assets/Scripts/Tools/Debug/DebugLogger"]
	path = Assets/Scripts/Tools/Debug/DebugLogger
	url = https://github.com/vloot/unity-submodule-debug-logger
